In [122]:
println("Hello World")

Hello World

In [7]:
s = 0
s = "Dog"

println(s)

function changeNum()
    # Error
    x::Int = 10
    x = "Dog"
end

changeNum()

Dog

MethodError: MethodError: Cannot `convert` an object of type String to an object of type Int64
Closest candidates are:
  convert(::Type{T<:Number}, !Matched::T<:Number) where T<:Number at number.jl:6
  convert(::Type{T<:Number}, !Matched::Number) where T<:Number at number.jl:7
  convert(::Type{T<:Integer}, !Matched::Ptr) where T<:Integer at pointer.jl:23
  ...

In [8]:
c1 = 'A' # characters

c2 = Char(120) # utf-8 unicode
println(c2) # x

# float to integer
i1 = UInt8(trunc(3.14))
println(i1) # 3

f1 = parse(Float64, "1")
println(f1) # 1.0

i2 = parse(Int8, "1")
println(i2) # 1

x
3
1.0
1

## Strings

In [9]:
s1 = "Just some random words"
println(length(s1)) # 24

println(s1[1]) # J, el primer indice es 1 en lugar de 0
println(s1[end]) # s
println(s1[1:4]) # Just, el 4 es inclusivo

s2 = string("Yukiteru", "Amano") # Create a string
println(s2)
println("Yuno" * " Gasai") # String concatenation

i3 = 2
i4 = 3
# Showing the values of variables
println("$i3 + $i4 = $(i3 + i4)")

# Multiline STRINGS
s3 = """
I
have
many
lines
"""

22
J
s
Just
YukiteruAmano
Yuno Gasai
2 + 3 = 5

"I\nhave\nmany\nlines\n"

## Conditionals

In [7]:
using Printf
using Statistics

age = 12
if age >= 5 && age <= 6
    println("You´re in Kindergarten")
elseif age >= 7 && age <= 13
    println("You´re in Middle School")
elseif age >= 14 && age <= 18
    println("You´re in High School")
else
    println("Stay Home")
end

# terniary operator
@printf("true || false = %s\n", true || false ? "true" : "false")
@printf("!true = %s\n", !true ? "true" : "false")

You´re in Middle School
true || false = true
!true = false

## Loops

In [9]:
i = 1
while i < 20
    if (i % 2) == 0
        println(i)
        # para acceder a variable declarada afuera del while
        global i += 1
        continue
    end
    global i += 1
    if i >= 10
        break
    end
end

#FOR

# el 5 es inclusivo
for i = 1:5
    println(i)
end

println("Second loop")
for i in [2, 4, 6]
    println(i)
end

println("Third loop")

            # desde 2, step de 2, hasta 10 (inclusivo)
# j está anidado
for i = 1:5, j = 2:2:10
    println((i, j))
end

2
4
6
8
1
2
3
4
5
Second loop
2
4
6
Third loop
(1, 2)
(1, 4)
(1, 6)
(1, 8)
(1, 10)
(2, 2)
(2, 4)
(2, 6)
(2, 8)
(2, 10)
(3, 2)
(3, 4)
(3, 6)
(3, 8)
(3, 10)
(4, 2)
(4, 4)
(4, 6)
(4, 8)
(4, 10)
(5, 2)
(5, 4)
(5, 6)
(5, 8)
(5, 10)

## Arrays

In [10]:
a1 = zeros(Int32, 2, 2) # Matriz de 2x2

a2 = Array{Int32}(undef, 5) # array de 5 elementos (0)

print(a1)
print(a2)

a3 = Float64[]

a4 = [1, 2, 3]

println(a4[1]) # 1

println(a4[end]) # 3

println(5 in a4) # false
println(findfirst(isequal(2), a4)) # devuelve el index del primero que cumpla con la condicion

f(a) = (a >= 2) ? true : false

println(findall(f, a4)) # devuelve los elementos que cumplan con la condicion

println(count(f, a4)) # cantidad de elementos que cumplan la condicion


a4 = [1, 2, 3]
println(size(a4)) # shape de matriz: (3,)
println(length(a4)) # 3
println(sum(a4)) # 6
# Porque 2 a 1 ?
splice!(a4, 2:1, [8, 9])  # se modifica el array
println(a4)
splice!(a4, 2:3) # Quitar indices 2 y 3
println(a4)
println(maximum(a4)) # 3
println(minimum(a4)) # 1
println(a4 * 2) # multiplicar cada elemento por 2
println(a4) 

a5 = [1, 3.14, "Hello"]

# Puedes meter funciones a una lista
a6 = [sin, cos, tan]
for n in a6
    println(n(0))
end

Int32[0 0; 0 0]Int32[313055536, 0, 313055552, 0, 313055568]1
3
false
2
[2, 3]
2
(3,)
3
6
[1, 8, 9, 2, 3]
[1, 2, 3]
3
1
[2, 4, 6]
[1, 2, 3]
0.0
1.0
0.0

In [11]:
# Arrays multidimensionales
a7 = [1 2 3; 4 5 6]
# n: rows (solo hay 2)
# m: columns
# El m está anidado
for n = 1:2, m = 1:3
    @printf("%d ", a7[n, m])
end
println() 

println(a7[:, 2]) # todas las rows de la columna 2
println(a7[2, :]) # todas las columnas de la segunda row
a8 = collect(1:5) # Crear array
println(a8)

# 2 a 10, con step de 2
a9 = collect(2:2:10) 
for n in a9 println(n) end

# array comprehension
a10 = [n^2 for n in 1:5]
println(a10)

# Add values to array
push!(a10, 36)

Creacion de array multidimensional
a11 = [n * m for n in 1:5, m in 1:5]
println(a11)

# Matriz 5x5 con numeros random (entre 0 y 9)
a12 = rand(0:9, 5, 5)
for n = 1:5
    for m = 1:5
        print("$(a12[n, m]) ")
    end
    println()
end

1 2 3 4 5 6
[2, 5]
[4, 5, 6]
[1, 2, 3, 4, 5]
2
4
6
8
10
[1, 4, 9, 16, 25]

LoadError: syntax: extra token "de" after end of expression

## Tuplas

In [12]:
# Tuples (son inmutables)

t1 = (1, 2, 3, 4)
println(t1)
println(t1[1])
println()

for i in t1
    println(i)
end

println()

# multidimensional Tuples
t2 = ((1, 2), (3, 4))
println(t2[1][1])

# Named tuples
t3 = (sue = ("Sue", 100), paul = ("Paul", 23))
println(t3.sue)

(1, 2, 3, 4)
1

1
2
3
4

1
("Sue", 100)

## Diccionarios

In [13]:
d1 = Dict("pi" => 3.14, "e" => 2.718)
println(d1["pi"]) # 3.14

# Agregar nuevo key-value pair 
d1["golden"] = 1.618

delete!(d1, "pi") # borrar key-value pair
println(d1)

println(haskey(d1, "pi")) # false
println()

# comprobar si está un key-value pair
println(in("pi" => 3.14, d1))  # false

# Ver keys
println(keys(d1))
# Ver values
println(values(d1))

println()
for kv in d1
    println(kv)
end

println()
for (key, value) in d1
    println(key, " : ", value)
end

3.14
Dict("golden" => 1.618,"e" => 2.718)
false

false
["golden", "e"]
[1.618, 2.718]

"golden" => 1.618
"e" => 2.718

golden : 1.618
e : 2.718

## Sets

In [14]:
st1 = Set(["Jim", "Pam", "Jim"])
println(st1) # Set(["Pam", "Jim"])

push!(st1, "Michael")
println(in("Dwight", st1)) # false

st2 = Set(["Stanley", "Meredith"]) 
# Set(["Pam", "Stanley", "Jim", "Michael", "Meredith"])
println(union(st1, st2))

println(intersect(st1, st2)) # nothing
println(setdiff(st1, st2)) # Set(["Pam", "Jim", "Michael"])

Set(["Pam", "Jim"])
false
Set(["Pam", "Stanley", "Jim", "Michael", "Meredith"])
Set(String[])
Set(["Pam", "Jim", "Michael"])

## Funcion

In [15]:
# Expression function
getSum(x, y) = x + y
x, y = 1, 2

@printf("%d + %d = %d\n", x, y, getSum(x, y))


# Mutable expression FUNCTIONS

function canIVote(age = 16)
    if age > 18
        println("Can Vote")
    else
        println("Can´t Vote")
    end
end

canIVote(43)

v1 = 5
function changeV1(v1)
    v1 = 10
end

changeV1(v1)
println(v1) # v1 obviamente no cambia


v1 = 5
function changeV1()
    global v1 = 10
end

changeV1()
println(v1) # v1 obviamente no cambia

# When we dont know the number of arguments

function getSum2(args...)
    sum = 0
    for a in args
        sum += a
    end
    println(sum)
end

getSum2(1, 2, 3, 4, 5)

# Puedes retornar varios valores, si los metes en una tupla
function next2(val)
    return (val + 1, val + 2)
end

println(next2(4))

# Functions that return Functions

function makeMultiplier(num)
    return function(x) return x * num end
end

mult3 = makeMultiplier(3)
println(mult3(6))

function getSum3(num1::Number, num2::Number)
    return num1 + num2
end

function getSum3(num1::String, num2::String)
    return parse(Int32, num1) + parse(Int32, num2)
end

println("5 + 4 = ", getSum3(5, 4))
println("5 + 4 = ", getSum3("5", "4"))

# Funciones anonimas

v2 = map(x -> x * x, [1, 2, 3])
println(v2)

v3 = map((x, y) -> x + y, [1, 2], [3, 4])
println(v3)

v4 = reduce(+, 1:100)
println(v4)

# longest word in a sentence
sentence = "This is a string"
sArray = split(sentence) # convertir a array
longest = reduce((x, y) -> length(x) > length(y) ? x : y, sArray)
println(longest)

1 + 2 = 3
Can Vote
5
10
15
(5, 6)
18
5 + 4 = 9
5 + 4 = 9
[1, 4, 9]
[4, 6]
5050
string

## Math Functions

In [16]:
@printf("5 + 4 = %d\n", (5 + 4))
@printf("5 - 4 = %d\n", (5 - 4))
@printf("5 * 4 = %d\n", (5 * 4))
@printf("5 / 4 = %d\n", (5 / 4))
println("5 % 4 = ", (5 % 4))
@printf("5 ^ 4 = %d\n", (5 ^ 4)) # power 

@printf("round(3.5) = %d\n", round(3.5))
@printf("floor(3.5) = %d\n", floor(3.5))
@printf("ceil(3.5) = %d\n", ceil(3.5))
@printf("abs(-3.5) = %d\n", abs(-3.5))
@printf("sqrt(100) = %d\n", sqrt(100))
@printf("cbrt(100) = %d\n", cbrt(100)) # cube root
@printf("hypot(90, 90) = %d\n", hypot(90, 90)) # hipotenusa
@printf("exp(2) = %d\n", exp(2))
@printf("log(100) = %d\n", log(100))
@printf("log2(100) = %d\n", log2(100))
@printf("log10(100) = %d\n", log10(100))

# Otra forma de multiplicar
x = 5
println(5x)

a13 = [1, 2, 3]
println(a13 * 3)

5 + 4 = 9
5 - 4 = 1
5 * 4 = 20
5 / 4 = 1
5 % 4 = 1
5 ^ 4 = 625
round(3.5) = 4
floor(3.5) = 3
ceil(3.5) = 4
abs(-3.5) = 4
sqrt(100) = 10
cbrt(100) = 5
hypot(90, 90) = 127
exp(2) = 7
log(100) = 5
log2(100) = 7
log10(100) = 2
25
[3, 6, 9]

## Enums

In [17]:
# Lista finita de valores (dias de la semana, 52 card deck)

@enum Color begin
    red = 1
    blue = 2
    green = 3
end

favColor = green::Color
println(favColor)

green

## Symbols

In [18]:
# immutable strings and variable-as-data
# muy usados como keys en DICTIONARIES

:Derek
println(:Derek)

d2 = Dict(:pi => 3.14, :e => 2.718)
println(d2[:pi])

Derek
3.14

## Structs

In [19]:
# tipo de dato especial.
# Solo es data, no tiene metodos
# inmutables (ej. no puedes cambiar el name)
# The general rule to follow is that structs should be small, simple (one-level)
# collections of related properties, that are immutable once created; for anything
# else, use a class

struct Customer
    name::String
    balance::Float32
    id::Int
end

bob = Customer("Bob Smith", 10.50, 123)
println(bob.name)

# Abstract types

abstract type Animal end

struct Dog <: Animal
    name::String
    bark::String
end 

struct Cat <: Animal
    name::String
    meow::String
end 

bowser = Dog("Bowser", "Ruff")
muffin = Cat("Muffin", "Meow")

function makeSound(animal::Dog)
    println("$(animal.name) says $(animal.bark)")
end

function makeSound(animal::Cat)
    println("$(animal.name) says $(animal.meow)")
end

makeSound(bowser)
makeSound(muffin)

Bob Smith
Bowser says Ruff
Muffin says Meow

## Exception Handling and user input

In [20]:
print("enter a number ")
num1 = chomp(readline())
print("enter another number ")
num2 = chomp(readline())

try
    val = (parse(Int32, num1)) / (parse(Int32, num2))
    if (val == Inf) # Inf es infinito
        error("Can´t divide by Zero")
    else
        println(val)
    end
catch e
    println(e)
end

# FILE IO 

open("random2.txt", "w") do file
    write(file, "Here is some random text\nIt is great\n")
end

open("random2.txt") do file
    data = read(file, String)
    println(data)
end

# Read one line at a time 
open("random2.txt") do file
    for line in eachline(file)
        println(line)
    end
end

enter a number stdin> hola
enter another number stdin> hi
ArgumentError("invalid base 10 digit 'h' in \"hola\"")
Here is some random text
It is great

Here is some random text
It is great

## Macros

In [1]:
# MACROS
# Generate code for you before a program is run 

macro doMore(n, exp)
    quote
        for i = 1:$(esc(n))
            $(esc(exp))
        end
    end
end

@doMore(2, println("Hello"))

# Custom do while

macro doWhile(exp)
    @assert exp.head == :while
    esc(quote
        $(exp.args[2])
        $exp
end)
end

z = 0
@doWhile while z < 10
    global z += 1
    println(z)
end

Hello
Hello
1
2
3
4
5
6
7
8
9
10

Pendientes
<ul>
    <li>Selecccionar features a usar. Tambien escoger la y (label)</li>
    <li>Tener dataframes de train y test con esos features</li>
    <li>Probar linear regression y hacer una prediccion. 
    Asegurarse que tenga sentido</li>
    <li>Implementar Elastic Net</li>
</ul>

## Manejo de matrices con DataFrames

### Dataset de videojuegos

<strong>Features a utilizar</strong>
<ul>
    <li>EU_sales (Europe)</li>
    <li>Critic Score</li>
    <li>User Score</li>
    <li>Other sales</li>
</ul>
<strong>Label: </strong>NA_sales (North America)
<p>El objetivo es predecir las ventas en Norte America, segun las features</p>

In [2]:
all_features = ["Id", "Name", "Platform", "Year_of_Release", "Genre",
                "Publisher", "NA_Sales", "EU_Sales", "Other_Sales",
                "Critic_Score", "Critic_Count", "User_Score", "User_Count",
                 "Developer", "Rating"]
features = [all_features[7], all_features[8], all_features[9], all_features[10], 
    all_features[12]]
println("Features: ", features)

Features: ["NA_Sales", "EU_Sales", "Other_Sales", "Critic_Score", "User_Score"]

<p>
RECUERDA <br>
Los datos de entrenamiento son las features y la label <br>
Los datos de test son las features y la label
</p>

In [3]:
using CSV
using DataFrames
train_features_raw = CSV.read("datos\\train.csv"; select=features)
train_features_raw[1:5, :]

5×5 DataFrame
│ Row │ NA_Sales │ EU_Sales │ Other_Sales │ Critic_Score │ User_Score │
│     │ Float64  │ Float64  │ Float64     │ Int64⍰       │ Float64⍰   │
├─────┼──────────┼──────────┼─────────────┼──────────────┼────────────┤
│ 1   │ 0.04     │ 0.0      │ 0.0         │ missing      │ missing    │
│ 2   │ 2.3      │ 1.34     │ 0.32        │ 84           │ 8.1        │
│ 3   │ 0.18     │ 0.14     │ 0.05        │ 53           │ 6.0        │
│ 4   │ 0.0      │ 0.0      │ 0.01        │ missing      │ missing    │
│ 5   │ 0.0      │ 0.0      │ 0.0         │ missing      │ missing    │

<p>
Añadir columna de ids
</p>

In [4]:
# Añadir columna de ids
ids = DataFrame(ids=1:size(train_features_raw, 1))
train_features_raw = hcat(ids, train_features_raw)

11703×6 DataFrame. Omitted printing of 1 columns
│ Row   │ ids   │ NA_Sales │ EU_Sales │ Other_Sales │ Critic_Score │
│       │ Int64 │ Float64  │ Float64  │ Float64     │ Int64⍰       │
├───────┼───────┼──────────┼──────────┼─────────────┼──────────────┤
│ 1     │ 1     │ 0.04     │ 0.0      │ 0.0         │ missing      │
│ 2     │ 2     │ 2.3      │ 1.34     │ 0.32        │ 84           │
│ 3     │ 3     │ 0.18     │ 0.14     │ 0.05        │ 53           │
│ 4     │ 4     │ 0.0      │ 0.0      │ 0.01        │ missing      │
│ 5     │ 5     │ 0.0      │ 0.0      │ 0.0         │ missing      │
│ 6     │ 6     │ 0.02     │ 0.0      │ 0.0         │ missing      │
│ 7     │ 7     │ 0.0      │ 0.19     │ 0.01        │ 69           │
│ 8     │ 8     │ 0.01     │ 0.04     │ 0.01        │ 82           │
│ 9     │ 9     │ 0.67     │ 0.02     │ 0.03        │ 92           │
│ 10    │ 10    │ 0.0      │ 0.0      │ 0.04        │ missing      │
⋮
│ 11693 │ 11693 │ 1.48     │ 0.39     │ 0.06        │ missing      │
│ 11694 │ 11694 │ 0.18     │ 0.05     │ 0.01        │ 75           │
│ 11695 │ 11695 │ 0.0      │ 0.02     │ 0.0         │ 85           │
│ 11696 │ 11696 │ 0.19     │ 0.15     │ 0.05        │ 79           │
│ 11697 │ 11697 │ 0.04     │ 0.01     │ 0.0         │ 65           │
│ 11698 │ 11698 │ 0.0      │ 0.0      │ 0.0         │ missing      │
│ 11699 │ 11699 │ 9.7      │ 3.68     │ 1.13        │ 87           │
│ 11700 │ 11700 │ 0.64     │ 0.57     │ 0.22        │ 83           │
│ 11701 │ 11701 │ 0.15     │ 0.0      │ 0.01        │ 37           │
│ 11702 │ 11702 │ 0.0      │ 0.0      │ 0.0         │ missing      │
│ 11703 │ 11703 │ 0.11     │ 0.01     │ 0.01        │ 70           │

In [5]:
# Eliminar instancias con datos faltantes

using Missings
train_features_raw = dropmissing(train_features_raw)

4920×6 DataFrame
│ Row  │ ids   │ NA_Sales │ EU_Sales │ Other_Sales │ Critic_Score │ User_Score │
│      │ Int64 │ Float64  │ Float64  │ Float64     │ Int64        │ Float64    │
├──────┼───────┼──────────┼──────────┼─────────────┼──────────────┼────────────┤
│ 1    │ 2     │ 2.3      │ 1.34     │ 0.32        │ 84           │ 8.1        │
│ 2    │ 3     │ 0.18     │ 0.14     │ 0.05        │ 53           │ 6.0        │
│ 3    │ 7     │ 0.0      │ 0.19     │ 0.01        │ 69           │ 7.5        │
│ 4    │ 8     │ 0.01     │ 0.04     │ 0.01        │ 82           │ 8.4        │
│ 5    │ 9     │ 0.67     │ 0.02     │ 0.03        │ 92           │ 8.3        │
│ 6    │ 11    │ 0.62     │ 0.56     │ 0.11        │ 78           │ 6.1        │
│ 7    │ 13    │ 0.04     │ 0.02     │ 0.01        │ 43           │ 6.5        │
│ 8    │ 15    │ 0.04     │ 0.03     │ 0.01        │ 53           │ 7.2        │
│ 9    │ 16    │ 0.06     │ 0.04     │ 0.01        │ 73           │ 8.2        │
│ 10   │ 17    │ 0.03     │ 0.03     │ 0.01        │ 79           │ 8.2        │
⋮
│ 4910 │ 11687 │ 0.85     │ 0.66     │ 0.22        │ 55           │ 6.2        │
│ 4911 │ 11688 │ 0.03     │ 0.01     │ 0.01        │ 63           │ 7.0        │
│ 4912 │ 11689 │ 0.29     │ 0.39     │ 0.16        │ 72           │ 7.1        │
│ 4913 │ 11691 │ 0.65     │ 0.0      │ 0.06        │ 68           │ 6.5        │
│ 4914 │ 11692 │ 0.0      │ 0.01     │ 0.0         │ 74           │ 8.2        │
│ 4915 │ 11694 │ 0.18     │ 0.05     │ 0.01        │ 75           │ 7.8        │
│ 4916 │ 11695 │ 0.0      │ 0.02     │ 0.0         │ 85           │ 8.2        │
│ 4917 │ 11696 │ 0.19     │ 0.15     │ 0.05        │ 79           │ 7.3        │
│ 4918 │ 11697 │ 0.04     │ 0.01     │ 0.0         │ 65           │ 7.6        │
│ 4919 │ 11699 │ 9.7      │ 3.68     │ 1.13        │ 87           │ 6.3        │
│ 4920 │ 11700 │ 0.64     │ 0.57     │ 0.22        │ 83           │ 7.8        │

In [6]:
new_ids = train_features_raw[:ids]
sales = train_features_raw[:NA_Sales]
# Label
train_label_raw = DataFrame(ids=new_ids, NA_Sales = sales)

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[6]:1
└ @ Core In[6]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[6]:2
└ @ Core In[6]:2

4920×2 DataFrame
│ Row  │ ids   │ NA_Sales │
│      │ Int64 │ Float64  │
├──────┼───────┼──────────┤
│ 1    │ 2     │ 2.3      │
│ 2    │ 3     │ 0.18     │
│ 3    │ 7     │ 0.0      │
│ 4    │ 8     │ 0.01     │
│ 5    │ 9     │ 0.67     │
│ 6    │ 11    │ 0.62     │
│ 7    │ 13    │ 0.04     │
│ 8    │ 15    │ 0.04     │
│ 9    │ 16    │ 0.06     │
│ 10   │ 17    │ 0.03     │
⋮
│ 4910 │ 11687 │ 0.85     │
│ 4911 │ 11688 │ 0.03     │
│ 4912 │ 11689 │ 0.29     │
│ 4913 │ 11691 │ 0.65     │
│ 4914 │ 11692 │ 0.0      │
│ 4915 │ 11694 │ 0.18     │
│ 4916 │ 11695 │ 0.0      │
│ 4917 │ 11696 │ 0.19     │
│ 4918 │ 11697 │ 0.04     │
│ 4919 │ 11699 │ 9.7      │
│ 4920 │ 11700 │ 0.64     │

<p>Eliminar instancias donde no se cuenten con las ventas de Norte America</p>

In [7]:
features_raw = train_features_raw[train_features_raw[:NA_Sales].!=0, :]

label_raw = train_label_raw[train_label_raw[:NA_Sales].!=0, :]

┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[7]:1
└ @ Core In[7]:1
┌ Warning: `getindex(df::DataFrame, col_ind::ColumnIndex)` is deprecated, use `df[!, col_ind]` instead.
│   caller = top-level scope at In[7]:2
└ @ Core In[7]:2

4499×2 DataFrame
│ Row  │ ids   │ NA_Sales │
│      │ Int64 │ Float64  │
├──────┼───────┼──────────┤
│ 1    │ 2     │ 2.3      │
│ 2    │ 3     │ 0.18     │
│ 3    │ 8     │ 0.01     │
│ 4    │ 9     │ 0.67     │
│ 5    │ 11    │ 0.62     │
│ 6    │ 13    │ 0.04     │
│ 7    │ 15    │ 0.04     │
│ 8    │ 16    │ 0.06     │
│ 9    │ 17    │ 0.03     │
│ 10   │ 18    │ 0.04     │
⋮
│ 4489 │ 11683 │ 0.05     │
│ 4490 │ 11686 │ 0.08     │
│ 4491 │ 11687 │ 0.85     │
│ 4492 │ 11688 │ 0.03     │
│ 4493 │ 11689 │ 0.29     │
│ 4494 │ 11691 │ 0.65     │
│ 4495 │ 11694 │ 0.18     │
│ 4496 │ 11696 │ 0.19     │
│ 4497 │ 11697 │ 0.04     │
│ 4498 │ 11699 │ 9.7      │
│ 4499 │ 11700 │ 0.64     │

In [8]:
features_raw = features_raw[!, Not(:NA_Sales)]

4499×5 DataFrame
│ Row  │ ids   │ EU_Sales │ Other_Sales │ Critic_Score │ User_Score │
│      │ Int64 │ Float64  │ Float64     │ Int64        │ Float64    │
├──────┼───────┼──────────┼─────────────┼──────────────┼────────────┤
│ 1    │ 2     │ 1.34     │ 0.32        │ 84           │ 8.1        │
│ 2    │ 3     │ 0.14     │ 0.05        │ 53           │ 6.0        │
│ 3    │ 8     │ 0.04     │ 0.01        │ 82           │ 8.4        │
│ 4    │ 9     │ 0.02     │ 0.03        │ 92           │ 8.3        │
│ 5    │ 11    │ 0.56     │ 0.11        │ 78           │ 6.1        │
│ 6    │ 13    │ 0.02     │ 0.01        │ 43           │ 6.5        │
│ 7    │ 15    │ 0.03     │ 0.01        │ 53           │ 7.2        │
│ 8    │ 16    │ 0.04     │ 0.01        │ 73           │ 8.2        │
│ 9    │ 17    │ 0.03     │ 0.01        │ 79           │ 8.2        │
│ 10   │ 18    │ 0.03     │ 0.01        │ 54           │ 6.9        │
⋮
│ 4489 │ 11683 │ 0.02     │ 0.0         │ 75           │ 8.4        │
│ 4490 │ 11686 │ 0.06     │ 0.02        │ 68           │ 9.0        │
│ 4491 │ 11687 │ 0.66     │ 0.22        │ 55           │ 6.2        │
│ 4492 │ 11688 │ 0.01     │ 0.01        │ 63           │ 7.0        │
│ 4493 │ 11689 │ 0.39     │ 0.16        │ 72           │ 7.1        │
│ 4494 │ 11691 │ 0.0      │ 0.06        │ 68           │ 6.5        │
│ 4495 │ 11694 │ 0.05     │ 0.01        │ 75           │ 7.8        │
│ 4496 │ 11696 │ 0.15     │ 0.05        │ 79           │ 7.3        │
│ 4497 │ 11697 │ 0.01     │ 0.0         │ 65           │ 7.6        │
│ 4498 │ 11699 │ 3.68     │ 1.13        │ 87           │ 6.3        │
│ 4499 │ 11700 │ 0.57     │ 0.22        │ 83           │ 7.8        │

In [9]:
# Ya estan emparejados
features = features_raw[!, Not(:ids)]
labels = label_raw[!, Not(:ids)]

4499×1 DataFrame
│ Row  │ NA_Sales │
│      │ Float64  │
├──────┼──────────┤
│ 1    │ 2.3      │
│ 2    │ 0.18     │
│ 3    │ 0.01     │
│ 4    │ 0.67     │
│ 5    │ 0.62     │
│ 6    │ 0.04     │
│ 7    │ 0.04     │
│ 8    │ 0.06     │
│ 9    │ 0.03     │
│ 10   │ 0.04     │
⋮
│ 4489 │ 0.05     │
│ 4490 │ 0.08     │
│ 4491 │ 0.85     │
│ 4492 │ 0.03     │
│ 4493 │ 0.29     │
│ 4494 │ 0.65     │
│ 4495 │ 0.18     │
│ 4496 │ 0.19     │
│ 4497 │ 0.04     │
│ 4498 │ 9.7      │
│ 4499 │ 0.64     │

In [10]:
println(size(features))
println(size(labels))

(4499, 4)
(4499, 1)

In [11]:
features

4499×4 DataFrame
│ Row  │ EU_Sales │ Other_Sales │ Critic_Score │ User_Score │
│      │ Float64  │ Float64     │ Int64        │ Float64    │
├──────┼──────────┼─────────────┼──────────────┼────────────┤
│ 1    │ 1.34     │ 0.32        │ 84           │ 8.1        │
│ 2    │ 0.14     │ 0.05        │ 53           │ 6.0        │
│ 3    │ 0.04     │ 0.01        │ 82           │ 8.4        │
│ 4    │ 0.02     │ 0.03        │ 92           │ 8.3        │
│ 5    │ 0.56     │ 0.11        │ 78           │ 6.1        │
│ 6    │ 0.02     │ 0.01        │ 43           │ 6.5        │
│ 7    │ 0.03     │ 0.01        │ 53           │ 7.2        │
│ 8    │ 0.04     │ 0.01        │ 73           │ 8.2        │
│ 9    │ 0.03     │ 0.01        │ 79           │ 8.2        │
│ 10   │ 0.03     │ 0.01        │ 54           │ 6.9        │
⋮
│ 4489 │ 0.02     │ 0.0         │ 75           │ 8.4        │
│ 4490 │ 0.06     │ 0.02        │ 68           │ 9.0        │
│ 4491 │ 0.66     │ 0.22        │ 55           │ 6.2        │
│ 4492 │ 0.01     │ 0.01        │ 63           │ 7.0        │
│ 4493 │ 0.39     │ 0.16        │ 72           │ 7.1        │
│ 4494 │ 0.0      │ 0.06        │ 68           │ 6.5        │
│ 4495 │ 0.05     │ 0.01        │ 75           │ 7.8        │
│ 4496 │ 0.15     │ 0.05        │ 79           │ 7.3        │
│ 4497 │ 0.01     │ 0.0         │ 65           │ 7.6        │
│ 4498 │ 3.68     │ 1.13        │ 87           │ 6.3        │
│ 4499 │ 0.57     │ 0.22        │ 83           │ 7.8        │

In [12]:
labels = labels.NA_Sales # Convertir a array

4499-element Array{Float64,1}:
 2.3
 0.18
 0.01
 0.67
 0.62
 0.04
 0.04
 0.06
 0.03
 0.04
 0.26
 0.73
 0.12
 ⋮
 1.74
 0.05
 0.08
 0.85
 0.03
 0.29
 0.65
 0.18
 0.19
 0.04
 9.7
 0.64

## Regresion Lineal con videojuegos

### Funciones de evaluacion

In [76]:
function prediccion(array, parametros)
    suma_pond = 0
    for i = 1:length(array)
        suma_pond += array[i] * parametros[i]
    end
    return suma_pond + parametros[end]
end

# x es una matriz (dataframe)
function mse(x, y, n, parametros)
    suma = 0
    for i = 1:size(x, 1)
        y_pred = prediccion(x[i, :], parametros)
        suma += ( y[i] - y_pred ) ^ 2
    end
    return suma / n
end

mse (generic function with 1 method)

### Parámetros

In [114]:
h = 0.01 # pequeño cambio para la derivada (hiperparametro)
lr = 0.001 # learning rate (el mejor resultado se obtuvo con 0.0001, pero tarda mucho)

# Cantidad de registros
n = size(features, 1)

# Datos
x = features
y = labels

# Inicializacion de parametros
w1 = 2
w2 = 3
w3 = 4
w4 = 5
bias = 4
parametros = [w1, w2, w3, w4, bias]

5-element Array{Int64,1}:
 2
 3
 4
 5
 4

In [116]:
print("mse actual: ", mse(x, y, n, parametros))

mse actual: 106570.2548116248

### Funciones para algoritmo

In [117]:
function sumar_h(i, j)
    if i == j
        return h
    else
        return 0
    end
end

function parcial(i, v)
    v2 = Float64[]
    for (j, v_i) in enumerate(v)
        suma_h_condicionado = v_i + sumar_h(i, j)
        append!(v2,  suma_h_condicionado )
    end
    #println("v2: ", v2)
    derivada_parcial = ( mse(x, y, n, v2) - mse(x, y, n, v) ) / h
    #println("derivada parcial: ", derivada_parcial)
    return derivada_parcial
end

function gradiente(v)
    return [parcial(i, v) for i in 1:length(v) ]
end

function distancia(v, w)
    return sqrt( sum( (x - y) ^ 2 for (x, y) in zip(v, w) ) )
end

function paso(v, gradiente)
    # se multiplica por learning rate para el cambio no sea brusco y pueda provocar errores
    return [param - (lr * grad_i) for (param, grad_i) in zip(v, gradiente) ]
end

paso (generic function with 1 method)

In [119]:
convergencia = 0.00000001
i = 1
while true
    grad = gradiente(parametros)
    parametros2 = paso(parametros, grad) # hacer un paso encontra de la derivada (ir hacia el minimo global)
    if distancia(parametros2, parametros) < convergencia
        println("\nSe alcanza convergencia luego de ",i, " iteraciones")
        println("\nValor mínimo de la función en:\n parametros = ", parametros)
        break
    end
    if i > 10000
        println("Salida luego de ",i, " iteraciones")
        break
    end
    println("iteración:", i, "\n","parametros =", parametros)
    global parametros = parametros2
    global i = i + 1
end

iteración:1
parametros =[2, 3, 4, 5, 4]
iteración:2
parametros =[1.8162344763375586, 2.935450272919843, -42.728018219578374, 0.2763116733010973, 3.358517606128589]
iteración:3
parametros =[3.528941894354648, 3.536802756699035, 393.3839293016165, 44.24167172637099, 9.339129676614538]
iteración:4
parametros =[-12.457640968976193, -2.07653753766208, -3676.7173554288183, -366.1941123989571, -46.482424853052365]
iteración:5
parametros =[136.73837343532068, 50.310118651302766, 34308.43550406826, 3464.1719551059255, 474.47872321823667]
iteración:6
parametros =[-1255.6706109396794, -438.6022836924472, -320196.5842224942, -32283.703728487828, -4387.514636156763]
iteración:7
parametros =[11739.21688906032, 4124.366466307552, 2.988301715777506e6, 301341.34627151216, 40988.17286384324]
iteración:8
parametros =[-109539.98311093968, -38482.03353369245, -2.7889006284222495e7, -2.812285853728488e6, -382497.4271361568]
iteración:9
parametros =[1.0226968168890604e6, 358215.5664663076, 2.6028015851577753e8, 2.6246939746271513e7, 3.5695793728638436e6]
iteración:10
parametros =[-9.600688783110939e6, -3.4297652335336925e6, -2.4290027086842227e9, -2.4496724265372846e8, -3.334684942713616e7]
iteración:11
parametros =[8.728773361688906e7, 2.886637556646631e7, 2.267348730091578e10, 2.2716151573462715e9, 3.055529137728638e8]
iteración:12
parametros =[-8.790799079831109e8, -1.858819892335337e8, -2.1215384960788425e11, -2.151176624425373e10, -3.291482196627136e9]
iteración:13
parametros =[1.286481543921689e10, 6.6860656843664665e9, 1.9799974582705159e12, 1.9495458547414627e11, 3.794020384497286e10]
iteración:14
parametros =[1.286481543921689e10, 6.6860656843664665e9, -1.5172383935035084e13, -1.1244593678570537e12, 3.794020384497286e10]
iteración:15
parametros =[1.286481543921689e10, 6.6860656843664665e9, 1.1149135558476012e14, -1.1244593678570537e12, 3.794020384497286e10]

Se alcanza convergencia luego de 16 iteraciones

Valor mínimo de la función en:
 parametros = [1.286481543921689e10, 6.6860656843664665e9, -4.392108271785736e15, -9.018443848419562e14, 3.794020384497286e10]

### Prediccion

In [120]:
# 0.14	0.05	53	6.0  respuesta: 0.18
ejemplo = [0.14, 0.05, 53, 6.0]
prediccion(ejemplo, parametros)

-2.3819276463811446e17

### Nuevo error

In [121]:
print("mse actual: ", mse(x, y, n, parametros))

mse actual: 1.0276641497778074e35

## Normalizacion: Ridge Regression

Francisco

## Normalizacion: Lasso Regression

Eli

## Normalizacion: Elastic Net

## Pruebas con DataFrames

In [161]:
using DataFrames
h = 0.01 # pequeño cambio para la derivada
lr = 0.001 # learning rate

## DATOS ##
# Años de experiencia
x = [3, 5, 6]
# edad
z = [25, 30, 42]

df = DataFrame(exp=x, edad=z)

# Salario en miles
y = [10, 14, 17]
# Cantidad de registros
n = 3

# Inicializacion de parametros
w1 = 2
w2 = 3
bias = 4
v = [w1, w2, bias]
df

3×2 DataFrame
│ Row │ exp   │ edad  │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 3     │ 25    │
│ 2   │ 5     │ 30    │
│ 3   │ 6     │ 42    │

In [162]:
size(df, 1)

3

In [163]:
df[1, :]

DataFrameRow
│ Row │ exp   │ edad  │
│     │ Int64 │ Int64 │
├─────┼───────┼───────┤
│ 1   │ 3     │ 25    │

In [164]:
length(df[1, :])

2